.cards-area {
    padding: 35px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.card {
    max-width: 255px;
}

.card img{
    width: 36px;
    height: 36px;
    margin: 0 0 14px 0;
}

.card-title {
    color: #091133;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 6px 0;
}

.card-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #5D6970;
}
