footer {
    background-color: #E7ECFF;
    padding: 37px 20px 30px;
}

.footer-content-wrapper {
    max-width: 1110px;
    margin: 0 auto;
}

.sup-footer {
    display: grid;
    grid-template-rows: 81px;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #CDD1D4;
    margin: 0 0 22px 0;
}

footer .logo {
    text-align: right;
}

footer .copyright {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #939EA4;
}

.footer-button {
    display: block;
    width: 109px;
    margin: 0 auto;
}


footer nav {
    margin: 0 auto;
    max-width: 245px;
    padding: 18px 0 0 0;
}

footer nav a {
    color: #929ECC;
}

.social-links {
    margin: 0 auto;
    max-width: 200px;
    display: flex;
    gap: 30px;
    padding: 26px 0 0px 0;
}
