.section_price {
    padding: 59px 20px 211px;
    max-width: 1110px;
    margin: 0 auto;
}

.section_price .text-content {
    max-width: 730px;
}

.price-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 77px 0 0 0;
    justify-content: center;
}

.price-card {
    max-width: 335px;
    position: relative;
}

.price-card .price {
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    color: #37447E;
    text-transform: uppercase;
    padding: 0 0 16px 0;
}

.price-card-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: #091133;
    padding: 0 0 8px 0;
}

.price-card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #5D6970;
    padding: 0 0 6px 0;
}

.price-card-button {
    margin: 24px 0 0 0;
    width: 189px;
}

/*Animation*/

.price-card::before{
    content: '';
    width: 0;
    height: 1.5px;
    position: absolute;
    transition: all 0.2s linear;
    background-color: #FFD166;
    left: 0;
}

.price-card__content-wrap::after {
    content: '';
    width: 1.5px;
    height: 0px;
    position: absolute;
    transition: all 0.2s linear;
    background-color: #FFD166;
    right: 0;
    top: 0;
}

.price-card:hover::before{
    left: 0;
    width: 335px;
}

.price-card__content-wrap:hover::after {
    right: 0;
    top: 0;
    height: 100%;
}
