@import url(general.css);
@import url(hamburder.css);
@import url(header.css);
@import url(introduce.css);
@import url(description.css);
@import url(cards.css);
@import url(price.css);
@import url(footer.css);

@media screen and (max-width: 768px){
    section {
        text-align: center;
    }

    .description-section,
    .text-content {
        padding: 0;
    }

    .main-photo-area, 
    .header__buttons,
    header nav{
        display: none;
    }

    .section_with-image-part  {
        grid-template-columns: 100% auto;
        padding: 0 20px;
    }

    .section_with-image-part .text-content{
        padding: 59px 0;
    }

    .price-cards {
        margin-top: 49px;
    }

    .hamburger-menu{
        visibility: visible;
    }
}

@media screen and (max-width: 1105px) {
    .section_price {
        padding-bottom: 59px;
        text-align: center;
    }

    .section_price .text-content {
        margin: 0 auto;
        text-align: center;
    }
}

